* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "poppins", sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: rgba(7, 12, 14, 0.808);
}

.slider {
	position: relative;
	width: 100%;
	max-width: 800px;
	height: 500px;
	overflow: hidden;
	border-radius: 20px;
	-webkit-box-shadow: 6px 4px 61px 18px rgba(133, 133, 133, 1);
	-moz-box-shadow: 6px 4px 61px 18px rgba(133, 133, 133, 1);
	box-shadow: 6px 4px 61px 18px rgba(133, 133, 133, 1);
}

.slides {
	width: 700%;
	height: 500px;
	display: flex;
}

.slides input {
	display: none;
}

.img-container {
	flex: 0 0 auto;
	width: 800px;
	transition: 2s ease;
	overflow: hidden;
	scroll-snap-align: start;
}

.img-container img {
	width: 100%;
	height: 500px;
}

.navigation {
	position: absolute;
	width: 800px;
	margin-top: -40px;
	display: flex;
	justify-content: center;
	gap: 30px;
}

.btn-navigation {
	border: 2px solid rgb(255, 254, 254);
	border-radius: 10px;
	padding: 5px;
	cursor: pointer;
	transition: 1s ease;
}

.btn-navigation:hover {
	background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 992px) {
	.slider {
		width: 70%;
		height: auto;
	}

	.navigation {
		width: 70%;
		margin-top: -30px;
		left: 17%;
	}
	.img-container {
		width: 15%;
	}
	.navigation {
		gap: 20px;
	}
}

@media screen and (max-width: 550px) {

	.img-container img {
		height: 350px;
	}
	.slider {
		width: 90%;
		height: 350px;
	}

	.slides {
		height: 350px;
	}
	.navigation {
		gap: 10px;
	}
}

@media screen and (max-width: 400px) {

	.img-container img {
		height: 250px;
	}
	.slider {
		height: auto;
		width: 90%;
	}

	.slides {
		height: 250px;
	}
	.navigation {
		gap: 10px;
	}
}
